@import '../../client/styles/_vars';

.button {
  border: 0;
  padding: 1em;
  background: $button;
  margin-right: $sp2;
  border: 1px solid $button-border;
  cursor: pointer;
  transition: background 200ms ease-in-out;
  &:hover {
    background: $button-hover;
    transition: background 200ms ease-in-out;
  }
}
