@import '../../client/styles/_vars';

.game {
  position: relative;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: space-around;
  text-align: center;
  justify-content: space-between;
  padding: $sp3 0 0;
  transition: opacity 100ms ease-in-out;
  &.winner {
    opacity: .4;
    transition: opacity 100ms ease-in-out;
  }
}

.utilites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $sps1;
}
