@import '../../client/styles/_vars';

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: space-around;
  text-align: center;
  justify-content: space-between;
  padding: $sp3 0 0;
}

.utilites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $sps1;
}
