.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: space-around;
  text-align: center;
  justify-content: space-between;
  padding: 2em 0;
}

.utilites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
