@import '../../client/styles/vars';

.card {
  background: $card;
  padding: $sp3 0;
  flex-basis: calc(100% / 4 - #{$sps1} * 2);
  margin: $sps1;
  color: $body;
  font-size: $sps3;
  border-radius: 2%;
  border: 1px solid $card-border;
  line-height: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  outline: 0;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    transform: scale(1.05) rotate(-2deg);
    transition: all 400ms ease-in-out;
    box-shadow: 2px 2px 19px 2px #dedddd;
  }
}

.flipped {
  transform: rotateY(180deg);
  transition: all 400ms ease-in-out;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    transform: scale(1.01) rotateY(180deg);
    transition: all 400ms ease-in-out;
  }
}

.icon_container {
  position: relative;
  width: $sps3;
  height: $sps3;
  margin: 0 auto;
}

.icon {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  position: absolute;
  transform: rotateY(-180deg);
  &.visible {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
}

.matched {
  background-color: #f3f3f3;
  border: 1px solid darken(#f3f3f3, 10%);
  color: lighten(#3b3b3b, 50%);
}
